@model IEnumerable<Order>
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@if (Model.ToList().Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ToList()[0].OrderId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ToList()[0].OrderDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ToList()[0].OrderTotal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ToList()[0].IsShipped)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                    <td>
                        @item.OrderTotal.ToString("c")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsShipped)
                    </td>
                    <td>
                        <a asp-controller="Order" asp-action="Details" asp-route-id="@item.OrderId">Details</a>
                        @if (!item.IsShipped)
                        {
                            <span>|</span> <a asp-controller="Order" asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> <span>|</span>
                            <a asp-controller="Order" asp-action="DeleteOrder" asp-route-id="@item.OrderId">Delete</a> <span>|</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2>There are no orders for this customer.</h2>
}

<br />

<a href="@HttpContextAccessor.HttpContext.Session.GetString("ReturnUrl")">Back</a>
